.flex{
    display:flex !important;
    display:-webkit-flex !important;
}
.justCon{
    justify-content: space-between;
}
.pointer{
    cursor:pointer;
}
.hide{
    display:none;
}
.show{
    display:block;
}