@font-face {
    font-family: 'icomoon';
    src:  url('iconfont/icomoon.eot') format('embedded-opentype'),
    url('iconfont/icomoon.ttf') format('truetype'),
    url('iconfont/icomoon.woff') format('woff'),
    url('iconfont/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size:26px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e900";
}
.icon-home:before {
    content: "\e901";
}
.icon-reco:before {
    content: "\e902";
}
.icon-article:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e904";
}
.icon-reset:before {
    content: "\e905";
}
.icon-index:before {
    content: "\e906";
}
.icon-message:before {
    content: "\e908";
}
.icon-userSelf:before {
    content: "\e907";
}
.icon-tr-down:before {
    content: "\e909";
    font-size:12px;
}

.icon-setting:before {
    content: "\e90a";
}
.icon-layout:before {
    content: "\e90b";
}
.icon-user:before {
    content: "\e90c";
}
.icon-forget:before {
    content: "\e90d";
}
.icon-regist:before {
    content: "\e90e";
}
.icon-login:before {
    content: "\e90f";
}