<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑器</title>
    <link rel="stylesheet" href="/style/editer/jquery.cleditor.css">
    <link rel="stylesheet" href="/style/editer/style-forms.css">
    <style>
        .form-horizontal .control-label{
            width:auto;
            float:none;
            margin-bottom:10px;
        }
        .form-horizontal .controls{
            margin-left:0;
        }
        .row-fluid{
            margin-left:20px;
            width:98%;
        }
        .cleditorMain{
            width:98% !important;
        }
    </style>
</head>
<body>
<div class="row-fluid">
    <form class="form-horizontal">
        <div class="control-group hidden-phone">
            <label class="control-label" for="textarea2">内容</label>
            <div class="controls">
                <textarea class="cleditor" id="textarea2" rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="/js/editer/jquery-migrate-1.0.0.min.js"></script>
<script src="/js/editer/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/js/editer/bootstrap.min.js"></script>
<script src='/js/editer/fullcalendar.min.js'></script>
<script src='/js/editer/jquery.dataTables.min.js'></script>
<script src="/js/editer/jquery.chosen.min.js"></script>
<script src="/js/editer/jquery.uniform.min.js"></script>
<script src="/js/editer/jquery.cleditor.min.js"></script>
<script src="/js/editer/jquery.noty.js"></script>
<script src="/js/editer/jquery.elfinder.min.js"></script>
<script src="/js/editer/jquery.raty.min.js"></script>
<script src="/js/editer/jquery.uploadify-3.1.min.js"></script>
<script src="/js/editer/jquery.gritter.min.js"></script>
<script src="/js/editer/jquery.imagesloaded.js"></script>
<script src="/js/editer/jquery.masonry.min.js"></script>
<script src="/js/editer/jquery.knob.modified.js"></script>
<script src="/js/editer/jquery.sparkline.min.js"></script>
<script src="/js/editer/custom.js"></script>
</body>
</html>