<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style/css/icon.css">
    <link rel="stylesheet" href="/style/css/materialize.min.css"/>
    <link rel="stylesheet" href="/style/iconfont.css"/>
    <link rel="stylesheet" href="/style/window.css">
    <link rel="stylesheet" href="/style/css/bootstrap.css"/>
    <link rel="stylesheet" href="/style/resetBootstrap.css">
    <link rel="stylesheet" href="/style/css/custom-styles.css"/>
    <link rel="stylesheet" href="/style/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/style/css/table.css">
    <style>
        button{
            outline:none !important;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <%-include header.html-%>
    <div id="page-wrapper">
        <div class="header">
            <ol class="breadcrumb">
                <li>当前位置：</li>
                <li><a href="/home">Home</a> /<a href="/user">用户列表</a></li>
            </ol>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body table-responsive">
                            <table id="userTable" class="table display">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>文章标题</th>
                                    <th>文章作者</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>序号</th>
                                    <th>文章标题</th>
                                    <th>文章作者</th>
                                    <th>发布时间</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                                <tbody id="tbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <%-include footer.html-%>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script/plugins.js"></script>
<script type="text/javascript" src="/js/script/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/window.js"></script>
<script type="text/javascript" src="/js/layer.js"></script>
<script>
    $(document).ready(function(){
        ajax();
    });
    function ajax(){
        $.ajax({
            url:'/getArticle',
            type:"GET",
            timeout:10000,
            data:{},
            success:function(returnJson){
                if(returnJson.msg === 'success'){
                    var data = returnJson.data;
                    var newData = [];
                    data.forEach(function(item){
                        if(item.reco === '1'){
                            newData.push(item);
                        }
                    });
                    $('#userTable').DataTable({
                        data: newData,
                        deferRender: true,
                        columns: [
                            { data: 'id' },
                            { data: 'title' },
                            { data: 'author' },
                            { data: 'time' },
                            { data: 'action' }
                        ],
                        columnDefs: [{
                            "targets": -1,//编辑
                            "data": null,
                            "defaultContent": "<button class='btn btn-danger' id='cancelReco' type='button'>取消推荐</button>"
                        }],
                        language: {
                            "sProcessing": "处理中...",
                            "sLengthMenu": "显示 _MENU_ 项结果",
                            "sZeroRecords": "没有匹配结果",
                            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                            "sInfoPostFix": "",
                            "sSearch": "搜索:",
                            "sUrl": "",
                            "sEmptyTable": "还没有推荐的文章哦",
                            "sLoadingRecords": "载入中...",
                            "sInfoThousands": ",",
                            "oPaginate": {
                                "sFirst": "首页",
                                "sPrevious": "上页",
                                "sNext": "下页",
                                "sLast": "末页"
                            },
                            "oAria": {
                                "sSortAscending": ": 以升序排列此列",
                                "sSortDescending": ": 以降序排列此列"
                            }
                        }
                    });
                }else{
                    layer.msg(returnJson.data)
                }
            },error:function(){
                layer.msg('网络异常')
            }
        });
    }
    $('tbody').on( 'click', '#cancelReco', function () {
        var table = $('#userTable').DataTable();
        var data = table.row( $(this).parents('tr') ).data();
        $.ajax({
            url:'/canReco',
            type:"get",
            timeout:10000,
            data:{
                id:data.id
            },
            success:function(returnJson){
                if(returnJson.msg === 'success'){
                    layer.msg(returnJson.data);
                    setTimeout(function(){
                        location.reload();
                    },500);
                }else{
                    layer.msg(returnJson.data)
                }
            },error:function(){
                layer.msg('网络错误')
            }
        })
    })
</script>
</body>
</html>